<!DOCTYPE html>
<html lang="fr">
{% extends "base.html" %}
{% load static %}
<meta charset="utf-8" />
{% block content %}
<!-- login.html -->

<div style="padding: 100px;">
  <div style="background-color: rgb(255, 255, 255);">
    <h2 style="text-align: center;">Connectez-vous</h2>
    <h2 style="color: rgb(6, 6, 170); padding-left: 50%;">à votre</h2>
    <h2 style="text-align: center;">espace</h2>
  </div>
</div>

    


{% if form.non_field_errors %}
    <ul class="errorlist">
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

<body>
  <div style="padding-left: 20%; padding-right: 20%;">
    <div style="background-color: rgb(233, 233, 233); padding: 10px; border-radius: 10px;">
      <form method="POST" action="{% url 'user_login' %}">
        {% csrf_token %}
          <div style="display: flex; flex-direction: row; padding: 5px;">
            <div style="width: 30%;">
              <span>Identifiant :</span>
            </div>
            <div style="width: 70%;">
              {{ form.username }}
            </div>
          </div>

          <div style="display: flex; flex-direction: row; padding: 5px;">
            <div style="width: 30%;">
              <span>Mot de passe :</span>
            </div>
            <div style="width: 70%;">
              {{ form.password }}
            </div>
          </div>

        <div style="padding: 10px; text-align: center;">
          <input style="width: 30%; border-radius: 20px;" type="submit" value="Se connecter">
        </div>

      </form>
    </div>
  </div>
    
    
</body>


{% endblock %}
</html>

