<!DOCTYPE html>
<html lang="fr">
{% extends "base.html" %}
{% load static %}
<meta charset="utf-8" />
{% block content %}
<!-- register.html -->

<div style="padding-left: 100px; padding-right: 100px; padding-top: 10px">
    <div style="background-color: rgb(255, 255, 255);">
        <h2 style="text-align: center;">Incrivez-vous et bénéficiez</h2>
        <h2 style="color: rgb(6, 6, 170); padding-left: 50%;">d'un suivi</h2>
        <h2 style="text-align: center; padding-left: 50%;">personnalisé</h2>
    </div>
</div>

<div style="padding: 100px;">
    <div style="background-color: rgb(233, 233, 233); padding-left: 15%; padding-right: 15%; padding-bottom: 1%; padding-top: 1%; border-radius: 10px;">
        <h6>Votre mot de passe ne peut pas être trop similaire à vos autres informations personnelles.</h6>
        <h6>Votre mot de passe doit contenir au moins 8 caractères.</h6>
        <h6>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</h6>
        <h6>Votre mot de passe ne peut pas être entièrement numérique</h6>
    </div>
</div>
    

<body>
    <div style="padding-left: 20%; padding-right: 20%;">
        <div style="background-color: rgb(233, 233, 233); padding: 10px; border-radius: 10px;">
            <form method="POST" action="{% url 'register' %}">
                {% csrf_token %}
                <div style="min-width: 100%;">
                    <div style="display: flex; flex-direction: row; padding: 5px;">
                        <div style="width: 30%;">
                          <span>Identifiant :</span>
                        </div>
                        <div style="width: 70%;">
                          {{ form.username }}
                        </div>
                      </div>

                      <div style="display: flex; flex-direction: row; padding: 5px;">
                        <div style="width: 30%;">
                          <span>Mot de passe :</span>
                        </div>
                        <div style="width: 70%;">
                            {{ form.password1 }}
                        </div>
                      </div>

                      <div style="display: flex; flex-direction: row; padding: 5px;">
                        <div style="width: 30%;">
                          <span>Confirmation du mot de passe :</span>
                        </div>
                        <div style="width: 70%;">
                            {{ form.password2 }}
                        </div>
                      </div>

                </div>
                <div style="padding: 10px; text-align: center;">
                    <input style="width: 30%; border-radius: 20px;" type="submit" value="S'inscrire">
                </div>
            </form>
        </div>
        
    </div>
    
</body>


{% endblock %}

</html>