<!DOCTYPE html>
<html lang="fr">
{% extends "nav.html" %}
{% load static %}
<meta charset="utf-8" />
{% block content %}


  <div style="background-color: rgb(149, 137, 255);">
    <h1 style="text-align: center; padding-top: 2%; padding-bottom: 2%;">CEOS</h1>
  </div>
  
  <div style="padding-bottom: 5%; padding-top: 5%;">
    <h5 style="padding-left: 20%; padding-right: 20%; word-wrap: break-word;">Problématique de l’application :</h5>

    <div style="padding-top: 1%;">
      <span style="padding-left: 22%; padding-right: 22%; word-wrap: break-word;">Manque de formation pour réaliser les démarches administratives. </span>
    </div>

    <div style="padding-top: 1%;">
      <span style="padding-left: 22%; padding-right: 22%; word-wrap: break-word;">S’installer en France nécessite un minimum de connaissance afin de prendre son premier logement etc,</span>
    </div>
    <div>
      <span style="padding-left: 22%; padding-right: 22%; word-wrap: break-word;">ce qui rend l’insertion difficile et l’installation compliquée.</span>
    </div>

    <div style="padding-top: 1%;"> 
      <span style="padding-left: 22%; padding-right: 22%; word-wrap: break-word;">Réaliser des démarches administratives peut être fastidieux pour tout un chacun.</span>  
    </div> 
    <div> 
      <span style="padding-left: 22%; padding-right: 22%; word-wrap: break-word;">Non seulement faut-il saisir les documents inhérents à tout changement de situation, mais leur accès n’est pas toujours aisé.</span>  
    </div> 
    <div> 
      <span style="padding-left: 22%; padding-right: 22%; word-wrap: break-word;">Dans la vie quotidienne, de nombreux éléments peuvent nécessiter des démarches correspondantes.</span>  
    </div> 
    <div>
      <span style="padding-left: 22%; padding-right: 22%; word-wrap: break-word;">Recrutement, vie familiale, décès, naissance, mariage, circulation routière, déménagement ou investissement immobilier : </span>
    </div>
    <div>
      <span style="padding-left: 22%; padding-right: 22%; word-wrap: break-word;">autant de situations qui impliquent la production de documents légaux et authentiques.</span>
    </div>
  </div>

  <div style="background-color: rgb(149, 137, 255);">
    <img style="padding: 5%;" src="./images/documents.JPG">
  </div>
  



{% endblock %}

</html>