<!DOCTYPE html>
<html lang="fr">
{% extends "base.html" %}
{% load static %}

<meta charset="utf-8" />
{% block content %}

  <div style="padding-left: 100px; padding-right: 100px; padding-top: 20px; padding-bottom: 20%;">
    <div style="background-color: #FFF9F1;">
        <h2 style="text-align: center;">Bonjour</h2>
        <h2 style="color: rgb(6, 6, 170); padding-left: 49%;">{{ user.username }}</h2>
    </div>
  </div>

<div style="background-color: rgb(223, 223, 223);">
  <div>
    <input type="text" style="border-radius: 10px;">
  </div>
  
  <div>
    <a class="btn btn-outline-success my-2 my-sm-0" style="margin-right:2%" type="submit" href="/document">Mes fichiers</a><i class="bi bi-card-list"></i>
    <a class="btn btn-outline-success my-2 my-sm-0" style="margin-right:2%" type="submit" href="/step">Mes démarches</a><i class="bi bi-card-list"></i>
    <a class="btn btn-outline-success my-2 my-sm-0" style="margin-right:2%" type="submit" href="/list">Mes tâches en cours</a><i class="bi bi-card-checklist"></i>
  </div >
  
</div>
  

{% endblock %}

</html>